{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Campaign</th>
            <th>Banners</th>
        </tr>
    </thead>
    <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td>
                    <a href="{{ url_for('campaign.get', campaign_id=campaign[0]) }}">{{campaign[0]}}</a>
                </td>
                <td>
                    {{campaign[1]}}
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}